@import "./../../assets/styles/main.scss";

.mainNavigation {
    list-style: none;
    padding: 1em 7em 1em 7em;
    background-color: white;
    background: $c-secondary;

}

.mainNavigation > ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.li:first-child {
    margin-right: auto;
}
