@import "./../../assets/styles/main.scss";

.titleWrapper {
    max-width: 1200px;
    margin: auto auto;
}

.flexContainer {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    height: 500px;
}

.mintTicketContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c-secondary;
    border-radius: 25px;
    flex: 1;
    padding: 2rem;
}

.mintButtonContainer {
    margin-top: 2.5em;
}
.mintButtonContainer > p {
    text-align: center;
    font-size: $fs-300;
}
.mintButtonContainer > button {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: $c-accent;
    width: 150px;
    cursor: pointer;
}

.mintedTicketContainer {
    background-color: $c-secondary;
    flex: 1;
    padding: 2rem;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.mintedTicketData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticketDetails {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
}

.testSection {
    height: 100%;
    width: 100%;
}

.frontCardImage {
    width: 100%;
    object-fit: contain;
}
