@import "./../../assets/styles/main.scss";

.singleEvent{
    background-color: $c-accent;
    color: $c-primary;
    padding: 20px;
    border-radius: 15px;
    margin: 1rem 0 1rem 0;
    display: flex;
}

.eventImage{
    max-width: 125px;
    margin-right: 2em;
}

.link{
    background-color: black;
    color: white;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}