@import "./../../assets/styles/main.scss";

.registerTicketContainer {
    flex: 1;
    background: $c-secondary;
    border-radius: 16px;
    padding: 50px;
}

.formContainer > h2{
    margin-bottom: 25px;
}