.formControl {
    display: flex;
    flex-direction: column;
}

.submitButton{
    margin-top: 15px;
}

.submitButton > button{
    font-size: 14px;
    font-weight: 600;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    width: 130px;
    cursor: pointer;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    background-size: 200% auto;
}
